{% assign component_class = 'c-button' %}



{% assign type = include.button_type | slugify %}
{% case type %}
	{% when "branded" %}
		{% assign button_class=component_class | append: '--branded' %}
	{% when "non-branded" %}
		{% assign button_class=component_class | append: '--non-branded' %}
	{% else %}
		{% comment %}Stop{% endcomment %}
{% endcase %}


<a class="{{ component_class }}
	{% if button_class %}
		{{ button_class }}
	{% endif %}"
	{% if include.url %}
		href="{{ include.url }}"
	{% endif %}
	{% if include.submit %}
		type="submit"
	{% endif %}>
	{{ include.text }}
</a>