{% assign component_class = 'c-toggle' %}
<div class="{{ component_class }}">
	<p class="{{ component_class }}__option-1">{{ include.option_1 }}
		{% if include.option_1_note %}
			<span class="{{ component_class }}__note">{{ include.option_1_note }}</span>
		{% endif %}</p>
	<div class="{{ component_class }}__main">
		<input type="checkbox" name="toggle1" class="{{ component_class }}__main__toggle" id="toggle1" checked>
		<label for="toggle1"></label>
	</div>
	<p class="{{ component_class }}__option-2">{{ include.option_2 }}
		{% if include.option_2_note %}
			<span class="{{ component_class }}__note">{{ include.option_2_note }}</span>
		{% endif %}
	</p>
</div>