{% case include.icon %}
    {% when "business" %}
        {% include svg/icons/business.svg %}
    {% when "console" %}
        {% include svg/icons/console.svg %}
    {% when "create" %}
        {% include svg/icons/create.svg %}
    {% when "devices" %}
        {% include svg/icons/devices.svg %}
    {% when "emblem-icon" %}
        {% include svg/icons/emblem-icon.svg %}
    {% when "enterprise" %}
        {% include svg/icons/enterprise.svg %}
    {% when "explore" %}
        {% include svg/icons/explore.svg %}
    {% when "folder" %}
        {% include svg/icons/folder.svg %}
    {% when "people" %}
        {% include svg/icons/people.svg %}
    {% when "translate" %}
        {% include svg/icons/translate.svg %}
{% endcase %}