{% assign sorted_features = site.features | sort: "order" %}
<div class="doc-nav-mobile" id="doc-nav-mobile">
	<label>Features
		<select>
			{% for feature in sorted_features %}
			<option value="{{ feature.url }}" {% if page.url contains feature.url %}selected{% endif %}>
				{{ feature.title }}
			</option>
			{% endfor %}
		</select>
	</label>
</div>

<script>
	var mobileNav = document.getElementById("doc-nav-mobile");
	if (mobileNav) {
		var selects = mobileNav.getElementsByTagName("select");
		function selectNavigation(event) {
			window.location = event.target.value;
		}
		for (var i = 0; i < selects.length; i++) {
			selects[i].addEventListener("change", selectNavigation);
		}
	}
</script>