html {
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	background: #eee;
}

head, title, meta, link {
	display: block;
}

title {
	font-size: 5em;
	padding: 20px 0;
}

title, meta {
	text-align: center;
	color: #fff;
}

meta {
	font-style: italic;
}

meta::before {
	content: "This is almost a legitimate website";
}

link {
	width: 100px;
	height: 100px;
	margin: 20px auto;
	background: url(https://en.gravatar.com/avatar/56b658c5d0c89b95f635fb94dc536594?s=100&d=mm);
	background-size: contain;
	border: 2px solid #fff;
    border-radius: 60px;
}

head {
	background: #222;
	border-bottom: 1px dotted #aaa;
}

body {
	text-align: center;
	font-size: 1.5em;
}

body::before {
	content: "I'm going to take a stab and say CSS content isn't exactly search engine friendly.";
}