{% assign component_class = 'c-category-card' %}

<div class="{{ component_class }}">
	<a class="{{ component_class }}__heading" href="{{ include.button_url }}">
		<h3>{{ include.heading }}</h3>
	</a>
	<div class="{{ component_class }}__image" style="background-image: url('{{ include.image }}')"></div>
	<div class="{{ component_class }}__content">
		<p>{{ include.content }}</p>
		{% include sub-components/button.html 
			url=include.button_url
			text=include.button_text
			button_type=include.button_type
			%}
	</div>
</div>