{% assign component_class = 'c-group-items' %}
<div class="{{ component_class }} page-component">
	{% if include.heading %}
		<h3>{{ include.heading }}</h3>
	{% endif %}
	<div class="{{ component_class }}__wrapper">
		{% for item in component.items %}
			<div class="{{ component_class }}__wrapper__item">
				<div class="{{ component_class }}__wrapper__item__heading">
					<img src="{{ item.svg_image }}" alt="{{ item.heading }}" />
					<h4>{{ item.heading }}</h4>
				</div>
				<div class="{{ component_class }}__wrapper__item__content">
					{{ item.description_html }}
				</div>
			</div>
		{% endfor %}
	</div>
</div>