{% assign component_class = 'c-page-header' %}

<div class="{{ component_class }}">
	<div class="{{ component_class }}__image" style="background-image: url('{{ include.image }}')"></div>
	<div class="{{ component_class }}__content">
		<h1 class="{{ component_class }}__content__heading">{{ include.heading }}</h1>
		<p class="{{ component_class }}__content__text">{{ include.text }}</p>
		<div class="buttons-row">
			{% for button in include.buttons %}
				{% include sub-components/button.html 
				button_type=button.button_type
				url=button.button_url
				text=button.button_text %}
			{% endfor %}
		</div>
	</div>
</div>