{% assign component_class = 'c-page-header' %}

<div class="{{ component_class }}
	{% if include.flipped %}
		{{ component_class }}--flipped
	{% endif %}">
	<div class="{{ component_class }}__image" style="background-image: url('{{ include.image }}')"></div>
	<div class="{{ component_class }}__content">
		<h1 class="{{ component_class }}__content__heading 
			{% if include.branded %}
				{{ component_class }}__content__heading--branded
			{% endif %}">{{ include.heading }}</h1>
		<p class="{{ component_class }}__content__text">{{ include.text }}</p>

		{% if include.toggle_enabled %}
			<form class="{{ component_class }}__content__toggle">
				<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
				<label for="vehicle1"> I have a bike</label><br>
			</form>
		{% endif %}

		{% if include.buttons %}
			<div class="buttons-row">
				{% for button in include.buttons %}
					{% include sub-components/button.html 
					button_type=button.button_type
					url=button.button_url
					text=button.button_text %}
				{% endfor %}
			</div>
		{% endif %}

		{% if include.note %}
			<p class="c-page-header__content__note">{{ include.note }}</p>
		{% endif %}

		{% if include.toggle_enabled %}
			{% include sub-components/toggle.html
				option_1=include.toggle_1
				option_2=include.toggle_2
				option_1_note=include.toggle_1_note
				option_2_note=include.toggle_2_note
			 %}
		{% endif %}
	</div>
</div>
