<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Free</h4>
		<span class="price">Free</span>
		<p class="description">Great for development</p>
		<p><i class="material-icons">check</i> Live test sites</p>
		<p><i class="material-icons">check</i> GitHub, Bitbucket and Dropbox syncing</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Sharing disabled</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Authentication disabled</p>
	</div>

	<div class="plan" data-id="basic">
		<h4>Basic</h4>
		<span class="price monthly-price">$25/month</span>
		<span class="price annual-price">$250/year</span>
		<p class="description">Perfect for freelancers</p>

		<p><i class="material-icons">check</i> <strong>Unlimited production sites</strong></p>
		<p><i class="material-icons">check</i> Custom domains and DNS</p>
		<p><i class="material-icons">check</i> Per site sharing</p>
		<p><i class="material-icons">check</i> Free editing for clients</p>
	</div>

	<div class="plan" data-id="professional">
		<h4>Pro</h4>
		<span class="price monthly-price">$75/month</span>
		<span class="price annual-price">$750/year</span>
		<p class="description">For teams of any size</p>

		<p><i class="material-icons">check</i> <strong>5 Team members included</strong></p>
		<p><i class="material-icons">check</i> Organisation support</p>
		<p><i class="material-icons">check</i> Custom branding</p>
		<p><i class="material-icons">check</i> Team sharing</p>
		<p><i class="material-icons">check</i> SAML support</p>
	</div>
</div>