{% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ page.header }}{% endif %}{% if paginator.page != null and paginator.page != 1 %} page {{ paginator.page }}{% endif %} | CloudCannon{% endcapture %}

{% capture description %}{% if page.excerpt %}{% if page.content contains '<!-- excerpt stop -->' %}{{ page.content | split:'<!-- excerpt stop -->' | first | strip_html }}{% else %}{{ page.excerpt | strip_html }}{% endif %}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

{% capture image %}{% if page.post_image %}http://cloudcannon.com{{ page.post_image }}{% else %}http://cloudcannon.com/img/cloudcannon-logo.png{% endif %}{% endcapture %}

{% seo %}

<meta property="og:image" content="{{ image }}">

{% if page.post_image and page.post_image_width %}
	<meta property="og:image:width" content="{{ page.post_image_width }}">
{% endif %}
{% if page.post_image and page.post_image_height %}
	<meta property="og:image:height" content="{{ page.post_image_height }}">
{% endif %}
{% if page.post_image and page.post_image_type %}
	<meta property="og:image:type" content="{{ page.post_image_type }}">
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@CloudCannon">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image }}">
