{% assign george = site.staff | where: "name", "George Phillips" | first %}
{% assign mike = site.staff | where: "name", "Mike Neumegen" | first %}
{% assign ross = site.staff | where: "name", "Ross Phillips" | first %}

<script type="application/ld+json">
{
	"@context" : "http://schema.org",
	"@type": "Organization",
	"name": "{{ site.title }}",
	"alternateName": "Cloud Cannon",
	"description": "{{ site.description }}",
	"url": "{{ site.url }}",
	"email": "support@cloudcannon.com",
	"numberOfEmployees": "{{ site.company.team_size }}",
	"logo": "{{ site.url }}/img/cloudcannon-logo.png",
	"sameAs": [
		"{{ site.facebook_url }}",
		"{{ site.google_plus_url }}",
		"{{ site.twitter_url }}",
		"{{ site.youtube_url }}",
		"{{ site.linkedin_url }}",
		"{{ site.github_url }}"
	],
	"founders": [
		{% include structured-data/person.json person=george %},
		{% include structured-data/person.json person=mike %}
	],
	"employees": [
		{% include structured-data/person.json person=ross %}
	],
	"foundingDate": "2013-08-01T00:00:00Z",
	"foundingLocation": {
		"@type": "Place",
		"address": "Dunedin, New Zealand"
	}
}
</script>