.c-button {
	display: inline-block;
	margin: 18px;
	padding: 12px 18px;
	font-weight: 600;
	border-radius: 3px;
	@include vwscale((attribute: font-size, value-at-max: 20px, stop-at: 660px, max-at: 950px));
	@include vwscale((attribute: line-height, value-at-max: 25px, stop-at: 660px, max-at: 950px));

	&--branded {
		background-color: $cc_blue;
		color: #ffffff;
	}

	&--non-branded {
		
	}
}