.pagination {
	text-align: center;
	margin: 20px 0 20px 0;

	.previous { float: left; }
	.next { float: right; }
}

.post-container {
	img {
		display: block;
		margin: 20px auto;
	}

	img + em, a + em {
		font-size: 0.8em;
		text-align: left;
		display: block;
		margin: -20px 0 20px 0;
		background: #f5f5f5;
		padding: 0 10px;
		color: #666;
	}

	p.post-details {
		line-height: 1.8;
	}
}

.blog-posts {
	margin: 0;
	padding: 0;
	list-style: none;
}

.blog-post {
	display: block;
	text-align: left;

	& + .blog-post {
		margin: 30px 0 0 0;
		padding: 30px 0 0 0;
		display: block;
	}

	h3 {
		margin-top: 0;}

	p {
		color: #666;
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
	}

	.btn {
		margin: 20px 0;
	}
}

p.post-details {
	margin: 0 0 20px 0;
	line-height: 1;
	font-size: 0.9em;
	color: #aaa;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
	text-align: left;
}

.post-details .date {
	float: right;
}

.twitter-tweet {
	margin: 20px auto !important;
}

.post-author {
	padding: 20px 0;
	text-align: left;
	margin: 20px 0 0 0;
}

.post-author p {
	margin-left: 140px;
}

.post-author img, .post-author-small img {
	border-radius: 1000px;
	float: left;
	height: auto;
}

.post-author img {
	margin: 0 20px 20px 0;
	max-width: 120px;
}

.post-author-small img {
	max-width: 60px;
	margin: 5px 12px 0 0;
}

.post-container {
	text-align: left;
}

.post-container iframe {
	width: 100%;

	&.screenshot {
		height: 500px;
		margin: 0 auto 2em;
	}
}
