header.xtendly,
header.engine-yard,
header.netflix,
header.brandon-setter {
    background: #221F1F;
    padding: 100px 0;

    h2 {
        text-align: center;
        font-size: 1.5em;
    }

    h3 {
        margin: 0 auto;
        max-width: 600px;
        border-top: 1px solid #333;
        padding-top: 20px;
    }

    img {
        display: block;
        margin: 40px auto;
    }

    p {
        margin: 0 auto;
    }

    p a {
        display: inline-block;
        padding: 5px;
        margin-top: 20px;
        color: #E50914;
        opacity: 1;
        text-decoration: none;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            transform: translateY(1px);
        }
    }
}

header.brandon-setter {
  background-image: url('/img/customers/brandon/bg.jpg');
  background-size: cover;

  .container p a {
    color: #fff;
  }

  h3 {
    border-color: #fff;
  }
}

header.engine-yard {
  background-image: url('/img/customers/engine_yard/bg.jpg');
  background-size: cover;
}

header.xtendly {
  background-image: url('/img/customers/xtendly/bg.jpg');
  background-size: cover;

  h3 {
    border-top: 0;
    border-bottom: 1px solid #ccc;
    padding: 0 0 25px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  .container p a {
    color: #fff;
  }
}

.testimonial {
  background: #444;
  color: #fff;
  padding: 60px 0;

  .quote {
    margin: 0 0 28px 0;
  }

  .quote:before {
    content: "“";
  }

  .quote:after {
    content: "”";
  }

  .author {
    img {
      width: 68px;
      border-radius: 100px;
      float: left;
    }

    span {
      font-size: 1.5em;
    }

    p {
      padding: 3px 0 0 88px;
      font-style: normal;
    }
  }
}



.customers {
    text-align: center;
    padding: 0;
    list-style: none;
}

.customer-sidebar {
    width: 250px;
    float: left;

    p {
        font-size: .8em;
        line-height: 1.6em;
    }

    img {
        width: 100%;
    }
}

.testimonal {
    text-align: center;

    span, img {
        display: block;
        margin: 0 auto;
    }

    img {
        border-radius: 100px;
    }

    .name {
        font-weight: bold;
    }
}

.customer-content {
    margin-left: 280px;
}

.photo_gallery {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;

    li {
        position: relative;
    }

    .caption {
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,.9);
        color: white;
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;

        a {
            color: #fff;
        }

        p {
            margin: 0;
        }
    }
}
