.customer-grid {
	display: block;
	text-align: center;
	@extend .clearfix;

	a {
		display: block;
		cursor: pointer;
		height: 580px;
		padding-left: 20px !important;
		padding-right: 20px !important;
		box-sizing: border-box;

		@media (min-width: 750px) {
			width: 50%;
			float: left;
		}
	}

	strong {
		max-width: 500px;
		font-size: 1.4em;
	}
}

header.xtendly,
header.engine-yard,
header.netflix,
header.brandon-setter,
.customer-grid a.xtendly,
.customer-grid a.engine-yard,
.customer-grid a.netflix,
.customer-grid a.brandon-setter {
	background: #221F1F;
	padding: 100px 0;

	h2 {
		text-align: center;
		font-size: 1.5em;
	}

	h3 {
		margin: 0 auto;
		max-width: 600px;
		border-top: 1px solid #333;
		padding-top: 20px;
	}

	img {
		display: block;
		margin: 40px auto;
	}

	p {
		margin: 0 auto;
	}

	p a, > strong {
		display: inline-block;
		padding: 5px;
		margin-top: 20px;
		color: #E50914;
		opacity: 1;
		text-decoration: none;

		&:hover {
			opacity: 0.9;
		}

		&:active {
			-webkit-transform: translateY(1px);
			transform: translateY(1px);
		}
	}

	> strong {
		color: #fff;
	}
}

header.brandon-setter,
.customer-grid a.brandon-setter {
	padding: 80px 0;
	background-color: #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.09), transparent), url(/img/customers/brandon/bg.jpg);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.09), transparent), url(/img/customers/brandon/bg.jpg);
	background-position: bottom right;
	background-repeat: repeat, no-repeat;
	background-attachment: scroll, scroll;

	h3, h2 {
		color: #000;
		border: 0;
	}

	h3 {
		padding: 0;
	}

	img {
		width: 180px;
		margin: 20px auto;
	}

	.container p a, > strong {
		color: #000;
	}
}

@media only screen and (max-width: 700px) {
	header.brandon-setter,
	.customer-grid a.brandon-setter {
		background-position: 175% 0;
	}
}


header.engine-yard,
.customer-grid a.engine-yard {
	background-image: url('/img/customers/engine_yard/bg.jpg');
	background-size: cover;
}

header.xtendly,
.customer-grid a.xtendly {
	background-image: url('/img/customers/xtendly/bg.jpg');
	background-size: cover;

	h3 {
		border-top: 0;
		border-bottom: 1px solid #ccc;
		padding: 0 0 25px 0;
		text-transform: uppercase;
		font-weight: bold;
	}

	.container p a, > strong {
		color: #fff;
	}
}

.testimonial {
	background-color: #2B2E31;
	color: #fff;
	padding: 60px 0;
	border-left: 0;

	.btn {
		font-style: normal;
	}

	.quote {
		margin: 0 0 28px 0;
		font-size: 1.2em;
		line-height: 1.7em;
	}

	.quote:before {
		content: "“";
	}

	.quote:after {
		content: "”";
	}

	.author {
		img {
			width: 68px;
			border-radius: 100px;
			float: left;
		}

		span {
			font-size: 1.5em;
		}

		p {
			padding: 3px 0 0 88px;
			font-style: normal;
		}
	}
}



.customers {
	text-align: center;
	padding: 0;
	list-style: none;
}

.customer-sidebar {
	width: 250px;
	float: left;

	p {
		font-size: 0.8em;
		line-height: 1.6em;
	}

	img {
		width: 100%;
	}
}

.customer-content {
	margin-left: 280px;
}

.photo-gallery {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;

	li {
		position: relative;
		padding: 0 1px;
		box-sizing: border-box;
	}

	.caption {
		position: absolute;
		bottom: 0;
		background: rgba(0, 0, 0, 0.9);
		color: white;
		padding: 10px 20px;
		width: 100%;
		box-sizing: border-box;

		a {
			color: #fff;
		}

		p {
			margin: 0;
		}
	}
}
