// TODO rename to freebies
.template-container img {
	border: 1px solid #eee;
}

.templates-list, .templates-list > li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.templates-list > li {
	overflow: hidden;
	@extend .screenshot;
	background: #fff;
}

.templates-list > li + li {
	margin-top: 40px;
}

.templates-list .banner {
	height: 195px;
	background: #eee;
	position: relative;
}

.templates-list .details {
	overflow: hidden;
	*zoom: 1;
	border-top: 1px solid #eee;
	padding: 15px;
	position: relative;
}

.templates-list-grid .details {
	overflow: visible;
	padding: 0;
}

.templates-list h3 {
	margin: 0;
	line-height: 42px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.templates-list h3 a {
	display: inline-block;
	background: #222;
	background: rgba(0,0,0,0.5);
	color: #fff;
	padding: 0 10px;
	text-decoration: none;
}

.templates-list .buttons {
	position: absolute;
	right: 15px;
	top: 15px;
}

.templates-list .btn {
	margin: 10px 0 0 0;
	line-height: 40px;
	text-align: center;
	width: auto;
	padding: 0 15px;
	height: 40px;
	max-width: none;
	font-size: 17px;
}

.templates-list p,
.templates-list ul {
	margin: 10px 153px 10px 0;
	line-height: 23px;
}

.templates-list ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.templates-list ul li {
	width: 50%;
	margin: 20px 0 0 0;
	flex: 1 0 50%;
	position: relative;
	padding-left: 28px;
	box-sizing: border-box;
}

.templates-list i {
	position: absolute;;
	width: 24px;
	top: -2px;
	left: 0;
}

.templates-list .aviator .banner,
.templates-list .cause .banner,
.templates-list .edition .banner,
.templates-list .frisco .banner,
.templates-list .hydra .banner,
.templates-list .justice .banner,
.templates-list .malt .banner,
.templates-list .urban .banner,
.templates-list .nimbus .banner,
.templates-list .cirrus .banner,
.templates-list .billows .banner {
	background-size: cover;
	height: 400px;
}

.templates-list .aviator .banner {
	background-image: url(/img/templates/aviator.jpg);
}

.templates-list .cause .banner {
	background-image: url(/img/templates/cause.jpg);
}

.templates-list .edition .banner {
	background-image: url(/img/templates/edition.png);
}

.templates-list .frisco .banner {
	background-image: url(/img/templates/frisco.jpg);
}

.templates-list .hydra .banner {
	background-image: url(/img/templates/hydra.png);
}

.templates-list .justice .banner {
	background-image: url(/img/templates/justice.jpg);
}

.templates-list .malt .banner {
	background-image: url(/img/templates/malt.jpg);
}

.templates-list .urban .banner {
	background-image: url(/img/templates/urban.png);
}

.templates-list .nimbus .banner {
	background-image: url(/img/templates/nimbus.jpg);
}

.templates-list .cirrus .banner {
	background-image: url(/img/templates/cirrus.jpg);
}

.templates-list .billows .banner {
	background-image: url(/img/templates/billows.jpg);
}

.templates-list .smileys .banner {
	background: #f2f2f2 url(/img/blog/smileys.js.png) center no-repeat;
}

.templates-list .solitaire .banner {
	background: #fff url(/img/blog/solitaire.png) top center no-repeat;
}

.templates-list .device-icons .banner {
	background: #f2f2f2 url(/img/download/device-monochome-icons.png) center no-repeat;
}

.templates-list .prefixer .banner {
	background: #f2f2f2 url(/img/prefixer.png) bottom center no-repeat;
}

.templates-list .previewer .banner {
	background: #f2f2f2 url(/img/previewer.png) bottom center no-repeat;
}


@media only screen and (min-width: 590px) {
	.templates-list .banner {
		height: 220px;
	}

	.templates-list .buttons {
		display: block;
		float:right;
	}

	.templates-list h3 {
		float: left;
	}

	.templates-list .btn {
		margin: 0 0 10px;
		display: block;
	}

	.templates-list-grid h3 {
		text-align: center;
		display: block;
		float: none;
	}

	.templates-list-grid .buttons {
		display: none;
	}

	.templates-list-grid li {
		width: 32%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.templates-list-grid li + li {
		margin: 0 0 0 2%;
	}

	.thirds.push-right {
		margin-left: 16.5%;
	}
}

@media only screen and (min-width: $break-medium) {
	.template-container > div {
		width: 49%;
		float: left;
	}

	.template-container > div + div {
		margin-left: 2%;
	}

	.template-container .btn {
		margin: 20px 0 0;
	}
}
