.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
