// ---
// Grid styles: No font or other attributes allowed
// ---

.col {
	float: left;
	width: 50%;
}

.col.col-2third {
	width: 60%;
}

.col.col-third {
	width: 40%;
}

// .thirds p {
// 	max-width: 300px;
// 	margin: 0 auto;
// }
//
// .thirds p em {
// 	font-size: 0.9em;
// }

.thirds {
	margin-top: 1em;
}

@media only screen and (min-width: $break-small) {
	.thirds.push-right {
		margin-left: 16.5%;
	}
}


@media only screen and (min-width: $break-medium) {
	.thirds {
		width: 31%;
		float: left;
		padding: 0 1%;
	}
}
