html {
	overflow-x: hidden;
	background: #2B2E31;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
}

.text-container {
	text-align: left;
}

header, .bright-section, .dark-section {
	padding: 40px 0;
	text-align: center;
	background: #26abe2;

	&, h1, h2, h3, h4 {
		color: #fff;
	}
}

h3 small, h4 small {
	font-size: .5em;
	position: relative;
	top: 2px;
	.fa-external-link:before {
		font-size: .6em;
	}
}

h4 .material-icons {
	font-size: 1em;
	position: relative;
	top: 3px;
}

header .sub-text {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;

	&.landing-page {
		margin: 5px 0 40px 0;
	}
}

header.fancy-hero {
	img {
		max-width: 800px;
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
		width: 100%;
	}
}

.btn-centered {
	margin: 30px auto 0;
}

.dark-section {
	background: #2B2E31;
}

header, section {
	@extend .clearfix;
}

header {
	width: 100%;
	overflow: hidden;
	position: relative;

	.image {
		overflow: visible;
		position: relative;
	}

	h2 {
		font-size: 3.2rem;

		@media (min-width: 500px) {
			font-size: 4.5rem;
		}
	}
}

section {
	padding: 3em 0 3em;
	background: #FFF;

	&.darker {
		background: #eee;
	}

	&.centered .image {
		margin: 50px 0 30px;
	}

	&.thin {
		padding: 0.9em 0;

		p {
			text-align: left;
			margin: 0;
		}
	}
}

section.vibrant,
footer {
	background: #2B2E31;
	color: #fff;
}

.step-number {
	background-color: #f8f8f8;
	width: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 40px;
	font-size: 21px;
	line-height: 40px;
	vertical-align: middle;
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #aaa;
	margin: -6px 0 0 -50px;
}

footer {
	position: relative;
	padding: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;

	p {
		margin: 0;
	}

	&,
	a {
		color: #999;
	}

	h2 {
		font-size: 1.4em;
		margin: 30px 0;
		color: #ccc;
	}

	.footer-columns {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: wrap;
		flex-flow: wrap;
		margin: -10px -10px 10px -10px;
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	.legal-line {
		width: 100%;
		padding: 30px 0;
		margin: 0;
		background-color: #222527;

		a {
			font-weight: 600;
		}
	}
}

.footer-links {
	-webkit-flex: 1 0 180px;
	flex: 1 0 180px;
	margin: 10px;
	padding: 0;

	li {
		list-style: none;
		margin: 15px 0;

		a {
			svg {
				fill: #999;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #fff;
			}

			&.twitter-icon:hover svg {
				fill: #55acee;
			}

			&.google-plus-icon:hover svg {
				fill: #db4437;
			}

			&.youtube-icon:hover svg {
				fill: #cd201f;
			}
		}
	}
}

.switcher {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	margin: -53px 0;
	position: relative;
	z-index: 1;

	.btn {
		margin: 0 10px;
	}
}

.developer-toggle,
.marketing-toggle {
	padding-top: 70px;
	background-color: white;
}

@media only screen and (min-width: $break-large) {
	.image img,
	.image iframe,
	.image .screenshot {
		margin: 0;
		max-width: 550px;
		width: 100%;
	}

	section .image .screenshot {
		float: right;
	}

	section.alternate .image .screenshot {
		float: left;
	}

	.contact-details,
	.contact-form {
		float: left;
		width: 40%;
		margin-top: 30px;
	}

	.contact-details {
		width: 52%;
		text-align: left;
		margin-left: 8%;
	}

	.contact-form input,
	.contact-form textarea {
		margin: 0 0 20px;
	}

	header,
	.bright-section {
		padding: 80px 0;
	}

	.bright-section .btn-sub-text{
		color: #fff;
	}

	.container {
		max-width: 1000px;
		padding: 0 20px;
	}

	.text-container {
		max-width: 800px;
	}

	section {
		padding: 3em 0;
		text-align: left;
	}

	section.centered,
	section .profile {
		text-align: center;
	}

	header .text,
	section .text {
		display: block;
		float: right;
		width: 450px;
		padding: 30px 2%;
	}

	header .image,
	section .image {
		position: absolute;
		right: 510px;
		width: 100%;
		text-align: right;
	}

	section.alternate .image {
		left: 510px;
		right: auto;
		text-align: left;
	}

	section.alternate .text {
		float: left;
	}

	section .text {
		padding: 40px 0;
		min-height: 266px;
	}

	header .text {
		text-align: left;
	}

	section .image {
		margin: -1em 0;
		min-height: 100px;
	}

	section.centered .text,
	section.centered .image {
		margin-right: auto;
		margin-left: auto;
		float: none;
		width: 100%;
		padding: 0;
	}

	section.centered .text {
		width: 70%;
		float: none;
	}
}

.explainer-video {
	margin: 50px 0;
}

.list-item-with-icon {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;

	i {
		margin-right: 5px;
	}
}

.old-content {
	display: none;
}

.well.share-options,
.well {
	background-color: #efefef;
	padding: 50px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-align: center;
}