table.desktop-pricing {
	display: none;
	border: 0;
	background: transparent;
	table-layout: fixed;
	margin: 0 0 60px 0;

	td,
	th {
		border: 0;
		text-align: center;
		padding: 5px;
		width: 150px;
		background: transparent;
		line-height: 1;
		height: 40px;
	}

	td {
		font-size: 0.9em;
	}

	th {
		font-weight: 600;
		line-height: 1.4;
		position: relative;

		span {
			white-space: nowrap;
			width: 100px;
			display: block;
			font-size: 1em;
			margin: 0 auto;
		}

		&.tooltip em{
			font-style: normal;

			&:after {
				background-image: url('/img/icons/help_outline.png');
				background-size: cover;
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 0 0 0 3px;
				content: "";
				position: absolute;
    		bottom: 18px;
			}
		}
	}

	th.tooltip:hover {
		cursor: help;
		&:before {
			display: block;
			background: rgba(0, 0, 0, 0.8);
	    border-radius: 5px;
	    color: #fff;
	    padding: 5px 15px;
	    position: absolute;
	    z-index: 98;
	    width: 160px;
			left: 150px;
			top: 0;
			content: attr(data-title);
			font-size: .8em;
		}
	}

	tr {
		background: none;
		border-bottom: 0;

		& > :first-child {
			text-align: left;
			width: 30%;
		}
	}

	.not-available {
		opacity: 0.15;
	}

	img {
		width: 32px !important;
	}
}

tr.separator td {
	h3 {
		font-size: 1.2em;
		font-weight: 700;
		margin: 25px 0 15px 0;
	}
}

.mobile-pricing {
	text-align: left;
	max-width: 400px;
	margin: 0 auto;

	small {
		display: block;
		margin-top: 5px;
		font-size: 0.7em;
	}

	dt, dd {
		display: inline;
		float: none;
		white-space: normal;
		width: auto;
	}

	dt + dd {
		margin: 0;
		&:before {
			content: " - ";
		}
	}

	dt:before {
		content: "";
		display: block;
	}

	& + .mobile-pricing {
		margin: 40px auto 40px auto;
		padding: 40px 0 0 0;
		border-top: 1px solid #eee;
	}
}

@media (min-width: 700px) {
	table.desktop-pricing {
		display: table;
	}

	.mobile-pricing {
		display: none;
	}
}

@media (min-width: 800px) {
	table.desktop-pricing th span {
		font-size: 1.2em;
		width: 137px;
	}
}
