.social-icon {
	display: inline-block;
	width: 53px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
	text-indent: 200px;
	overflow: hidden;
	transition: opacity 0.2s ease;
}

a.social-icon { opacity: 0.2; }
a.social-icon:hover { opacity: 0.5; }
a.social-icon:active { opacity: 1; }

a.social-icon.white { opacity: 0.35; }
a.social-icon.white:hover { opacity: 0.85; }
a.social-icon.white:active { opacity: 1; }

.social-shares,	.social-shares li {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	line-height: 1;
}

.social-shares li {
	display: block;
	float: left;
	width: 120px;
}

.share-options {
	text-align: center;
	padding: 5px 0;
}

.share-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 3px 10px 2px 8px;
	margin: 10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	color: #fff;
	background-color: #333;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	text-decoration: none;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 15px;

	&:hover {
		color: #fff;
		background-color: #4f4f4f;
	}

	&:active {
		top: 1px;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	}

	svg {
		fill: #ffffff;
		width: 19px;
		height: 19px;
		margin-right: 5px;
	}

	&.facebook {
		background-color: #4A66B7;

		&:hover {
			background-color: #556fbb;
		}
	}

	&.twitter {
		background-color: #1B95E0;

		&:hover {
			background-color: #269ce5;
		}
	}

	&.email {
		text-shadow: none;
	}

	&.google-plus {
		background-color: #fefefe;
		color: #333;
		text-shadow: none;

		&:hover {
			background-color: #f6f6f6;
			color: #333;
		}

		svg {
			fill: #DB4437;
		}
	}

	&.pinterest {
		background-color: #c92228;

		&:hover {
			background-color: #cf4146;
		}
	}

	&.linkedin {
		background-color: #0077B5;

		&:hover {
			background-color: #1e84b9;
		}
	}

	&.reddit {
		background-color: #5f99cf;

		&:hover {
			background-color: #75a6d4;
		}
	}

	&.tumblr {
		background-color: #35465c;

		&:hover {
			background-color: #455166;
		}
	}

	&.hacker-news {
		background-color: #ff6600;

		&:hover {
			background-color: #ff7515;
		}
	}

	&.designer-news {
		background-color: #2d72d9;

		&:hover {
			background-color: #3d82e9;
		}
	}
}

@media only screen and (min-width: $break-large) {
	.twitter-tweet {
		width: 46%;
		float: left;
		margin: 10px 2% !important;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;	/* Firefox, other Gecko */
		box-sizing: border-box;		 /* Opera/IE 8+ */
	}

	.twitter-tweet:nth-child(even) {
		clear:left;
	}
}
