.case-study {
	h1 svg {
		width: 250px;
	}

	.subtitle {
		font-size: 2rem;
		line-height: 1.5em;
		margin: 0 0 $half-space 0;
	}
}

.case-study-content {
	.testimonial {
		margin: 0 0 $half-space 0;
	}
}