.case-study {
	h1 svg {
		width: 250px;
	}

	.subtitle {
		font-size: 2rem;
		line-height: 1.5em;
		margin: 0 0 $half-space 0;
	}
}

.case-study-content {
	.testimonial {
		margin: $section-padding 0;
	}
}

.case-box {
	color: #fff;
	text-align: center;
	transition: $transition-duration opacity ease;
	svg {
		max-width: 300px;
	}

	&:hover {
		opacity: .8;
	}
}

.case-box .title h3 a {
	color: #fff;
}