<div class="testimonial">
	<blockquote class="card big">
		<div class="author">
			<div class="image"><img src="{{ include.case.testimonial.image_path }}" width="68" height="68" ></div>
			<p>
				<span class="name">{{ include.case.testimonial.name }}</span>
				<span class="title">{{ include.case.testimonial.work_title }}</span>
			</p>
		</div>
		<div class="quote">
			{% assign quote = include.quote %}
			{% unless quote %}
				{% assign quote = include.case.testimonial.text_markdown %}
			{% endunless %}
			{{ quote | prepend: "&ldquo;" | append: "&rdquo;" | markdownify }}
		</div>
		{% include svgs/customer-logo.html logo=include.case.logo_dark %}
	</blockquote>
</div>