{% comment %} Page Components {% endcomment %}

{% assign sections = page.page_sections %}

{% if sections %}
    <div class="page-components">
        <div class="page-components__wrapper">
            <div class="page-components__sections">
                {% for section in sections %}
                    <div class="page-components__section 
                        {% if section.wide_section %}
                            page-components__section--wide
                        {% endif %}" 
                        id="{{ section.section_heading | slugify }}"
                    >
                        <div class="page-components__components{% if page._wide_sections %} page-components__components--wide{% endif %}">
                            {% if section.section_heading %}
                                <h2 class="page-components__section-header">{{ section.section_heading }}</h2>
                            {% endif %}
                            {% for component in section.components %}
                                {% capture component_contents %}
                                    {% assign component_type = component._component_type | slugify %}
                                    {% case component_type %}
                                        {% when "content-block" %}
                                            {% include page-components/content-block.html
                                                heading=component.heading
                                                content=component.content_html %}
                                        {% when "group-items" %}
                                            {% include page-components/group-items.html
                                                heading=component.heading %}
                                        {% when "left-text-right-image" %}
                                            {% include page-components/image-and-text.html 
                                                content=component.content_html
                                                heading=component.heading
                                                topic=component.topic 
                                                image=component.image
                                                cta_link=component.call_to_action.link_url
                                                cta_text=component.call_to_action.link_text %}
                                        {% when "right-text-left-image" %}
                                            {% include page-components/image-and-text.html 
                                                content=component.content_html
                                                heading=component.heading
                                                topic=component.topic 
                                                image=component.image
                                                cta_link=component.call_to_action.link_url
                                                cta_text=component.call_to_action.link_text
                                                right-aligned=true %}
                                        {% when "cta-link" %}
                                            {% include page-components/cta-link.html 
                                                link=component.url
                                                text=component.text %}
                                            
                                        {% when "recent-posts" %}
                                            {% include page-components/posts.html 
                                                recent=true
                                                visible=component.display_recent_posts %}
                                            
                                        {% when "featured-post" %}
                                            {% include page-components/posts.html 
                                                featured=true
                                                visible=component.display_featured_post %}

                                        {% when "all-posts" %}
                                            {% include page-components/posts.html
                                                visible=component.display_all_posts %}

                                        {% when "job-listings" %}
                                            {% include page-components/job-listings.html %}

                                        {% when "documentation-categories" %}
                                            {% include page-components/documentation-categories.html %}

                                        {% when "page-header" %}
                                            {% include page-components/page-header.html
                                                heading=component.heading
                                                text=component.text
                                                image=component.image
                                                buttons=component.buttons
                                                flipped=component.options.flip_image_and_text
                                                branded=component.options.brand_coloured_heading
                                                note=component.options.note
                                                toggle_enabled=component.options.toggle.display_toggle
                                                toggle_1=component.options.toggle.option_1
                                                toggle_1_note=component.options.toggle.option_1_note
                                                toggle_2=component.options.toggle.option_2
                                                toggle_2_note=component.options.toggle.option_2_note %}

                                        {% when "mailing-list-cta" %}
                                            {% include page-components/mailing-list-cta.html
                                                heading=component.heading
                                                text=component.text %}

                                        {% when "intern-descriptions" %}
                                            {% include page-components/intern-descriptions.html %}

                                        {% when "heading-with-features" %}
                                            {% include page-components/heading-with-features.html %}

                                        {% when "case-studies-side-block" %}
                                            {% include page-components/case-studies-side-block.html
                                            image='/uploads/tiger-bee-face.jpeg'
                                            location='Wellington, NZ'
                                            size='~12 Employees'
                                            customer_since='2017'
                                            industry='Finances, SAAS'
                                            favourite='It is clearly the superior content management system to use.' %}

                                        {% when "template-cards" %}
                                            {% include page-components/template-cards.html %}
                                        {% comment %}
                                            
                                        {% when "copy-category-toggle-with-image" %}
                                            {% include page-components/copy-category-toggle-with-image.html %}
                                            
                                        {% when "listing-cards" %}
                                            {% include page-components/listing-cards.html %}
                                            
                                        {% when "general-page-header" %}
                                            {% include page-components/general-page-header.html %}
                                            
                                        {% when "blog-post-header" %}
                                            {% include page-components/blog-post-header.html %}
                                            
                                        {% when "home-page-header" %}
                                            {% include page-components/home-page-header.html %}
                                            
                                        {% when "pricing-page-header" %}
                                            {% include page-components/pricing-page-header.html %}
                                            
                                        {% when "category-cards" %}
                                            {% include page-components/category-cards.html %}
                                            
                                        {% when "intern" %}
                                            {% include page-components/intern.html %}
                                            
                                        {% when "quote-carousel" %}
                                            {% include page-components/quote-carousel.html %}
                                            
                                        {% when "pricing-table" %}
                                            {% include page-components/pricing-table.html %}
                                            
                                        {% when "pricing-card" %}
                                            {% include page-components/pricing-card.html %}
                                            
                                        {% endcomment %}

                                        {% comment %} Add new components here, and the components array structure in _config.yml {% endcomment %}


                                        {% else %}
                                            <!-- Incorrect component selection -->
                                    {% endcase %}
                                {% endcapture %}
                                {% assign component_contents = component_contents | normalize_whitespace | strip %}
                                <div class="page-components__component">{{ component_contents }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
