---
layout: default
title: Pricing
header: Pricing
---

<section class="darker">
    <div class="container">
        <h4 class="center-text">Simple pricing that scales as you grow</h4>
        {% for plan in site.data.plans %}
            <div class="{{ plan.className }}">
                <div class="plan-header">
                    <a href="{{ plan.url }}" class="sign-up">
                        <h2>{{ plan.name }}</h2>
                        <p class="price-per-month" style="font-size: 30px">{{ plan.price }}</p>
                    </a>
                </div>

                {% for feature in plan.features %}
                    <p class="plan-features">{{ feature }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>

<section>
    <div class="container">
        <table>
            <tr>
                <th>Feature</th>
                {% for plan in site.data.plans %}
                    <th>{{ plan.name }}</th>
                {% endfor %}
            </tr>
            {% for feature in site.data.plan_features %}
                <tr>
                    <th>{{ feature.name }}</th>
                    {% for plan in site.data.plans %}
                        <td>{{ feature[plan.name] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
