---
layout: page
title: Bug Bounty
permalink: /bugbounty/
icons: true
static_manifesto:
  - title: Check Scope
    icon: looks_one
    content_markdown: "Confirm the bug fits within the scope defined in the Bug Bounty Policy"
  - title: Submit Report
    icon: looks_two
    content_markdown: "Make your submission with the form below that includes clear, concise and reproducable steps to replicate the issue."
  - title: Confirmation
    icon: looks_3
    content_markdown: "The CloudCannon support team will make contact within five working days acknowledging we have received your report."
  - title: Assessment & Rewards
    icon: looks_4
    content_markdown: "CloudCannon will assess the report and will offer a reward based on severity and current scope."
table_of_contents:
  - heading: About
    id: about
  - heading: Submission Process
    id: submission-process
  - heading: Scope
    id: scope
  - heading: Rewards
    id: rewards
  - heading: Bug Bounty Policy
    id: bounty-policy
  - heading: Submit Report
    id: submit-report
---
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="dark-content docs-container bugbounty">
	<div class="wrapper wrapper-large">
		<nav class="docs-nav">
			<ul>
				{% for item in page.table_of_contents %}
		  	  <li class="nav-item"><a href="#{{ item.id }}">{{ item.heading }}</a></li>
				{% endfor %}
			</ul>
		</nav>

		<section class="docs-main" id="doc">
			<article class="content">
				<h1 class="editable">CloudCannon Bug Bounty</h1>

				<section class="editable">
					<p>Our mission is to bring all the advantages of static technology to developers while giving editors intuitive interfaces and workflows to update content. We believe most informational websites should be static. The reason they’re not is non-technical editors need to update content.</p>
				</section>

				<section>
					<h2 class="editable" id="submission-process">Submission Process</h2>
					<ul class="cards feature-content">
						{% for item in page.static_manifesto %}
							<li class="card">
								<h3><i class="material-icons">{{ item.icon }}</i> {{ item.title }}</h3>
								{{ item.content_markdown | markdownify }}
							</li>
						{% endfor %}
					</ul>
				</section>

				<section class="editable">
					<h2 id="scope">Scope</h2>
					<p>Only the CloudCannon app (<a href="https://app.cloudcannon.com" rel="no-opener">app.cloudcannon.com</a>) is within scope at this stage. All other subdomains will not be considered for bug bounties.</p>
				</section>

				<section class="editable">
					<h2 id="rewards">Rewards</h2>
					<p>CloudCannon will award valid reports based on the scope and severety of each report. Monetary rewards are paid by <strong>PayPal transactions only</strong>.</p>
					<table>
						<caption><h3>Rewards Table</h3></caption>
						<tr>
							<th>Scope</th>
							<th>Severity</th>
							<th>Bounty</th>
							<th>Reward</th>
						</tr>
						<tr>
							<td>https://app.cloudcannon.com</td>
							<td>Critical</td>
							<td>Yes</td>
							<td>$50 - $100</td>
						</tr>
						<tr>
							<td>https://app.cloudcannon.com</td>
							<td>Moderate</td>
							<td>Yes</td>
							<td>CloudCannon T-Shirt</td>
						</tr>
					</table>
				</section>

				<section class="editable">
					<h2 id="bounty-policy">Bug Bounty Policy</h2>
					<h4>Bounty Qualification</h4>
					<p>Only critical vulnerabilities that demonstrate complete compromise of the system's integrity or confidentiality are eligible for a bounty. While we encourage you to submit all potential issues, lower severity issues are not in scope at this time.</p>
					<p>It's important to keep in mind that not all submissions will qualify for a bounty, and that the decision to award a bounty is entirely at the discretion of CloudCannon. CloudCannon have final decision on which issues constitute security vulnerabilities.</p>

					<h4>Disclosure Policy</h4>
					<ul>
						<li>Let us know as soon as possible upon discovery of a potential security issue, and we'll make every effort to quickly resolve the issue. </li>
						<li>Do not make any information public until the issue has been resolved.</li>
						<li>Make a good faith effort to avoid privacy violations, destruction of data, and interruption or degradation of our service.</li>
						<li>Do not access or modify data that does not belong to you - create a free account to test with.</li>
						<li>Making many substantially similar reports will only be eligible for one bounty award, and marked as duplicate. For example, the same vulnerability reported across multiple subdomains. Please consolidate issues into a single report.</li>
					</ul>

					<h4>Exclusions</h4>
					<p>While researching, we'd like to ask you to refrain from:</p>
					<ul>
						<li>Denial of service </li>
						<li>Spamming </li>
						<li>Social engineering (including phishing) of CloudCannon staff or contractors </li>
						<li>Any physical attempts against CloudCannon property or data centers </li>
					</ul>

					<h4>Safe Harbor</h4>
					<p>Any activities conducted in a manner consistent with this policy will be considered authorized conduct and we will not initiate legal action against you. If legal action is initiated by a third party against you in connection with activities conducted under this policy, we will take steps to make it known that your actions were conducted in compliance with this policy.</p> 
					<p>Thank you for helping keep CloudCannon and our users safe!</p>
				</section>

				<section class="contact">
				
					<div class="editable contact-content">
						<h2 id="submit-report">Submit Report</h2>
						<p>Please provide as much information as possible about the potential issue you have discovered. The more information you provide, the quicker CloudCannon will be able to validate the issue.</p>
					</div>

					<form action="/contact-success/" method="post" class="contact-form">
						<input type="hidden" name="_to" value="support@cloudcannon.com">
						<div class="text-field">
							<label class="form-icon">
								<i class="material-icons">person</i>
								<input type="text" name="name" id="name" placeholder="Name" />
							</label>

							<label class="form-icon">
								<i class="material-icons">email</i>
								<input type="email" name="email" id="email" placeholder="Email Address" required />
							</label>
						</div>
						<textarea name="description" id="description" placeholder="Report description"></textarea>
						<textarea name="report" id="report" placeholder="Steps to reproduce"></textarea>
						<textarea name="supporting-info" id="supporting-info" placeholder="Supporting information"></textarea>
						<div class="g-recaptcha" data-sitekey="{{ site.recaptcha.sitekey }}"></div>
						<input type="submit" value="Submit Report" />
					</form>
				</section>
			</article>
		</section>
	</div>
</div>