---
layout: pricing
heading: Get started with CloudCannon
subtitle: 'Try CloudCannon Pro free for 30 days, no credit card required'
title: Team Pricing
permalink: /pricing/
display_plan_comparison_table: true
display_faq: true
---

<section class="wrapper">
	<ul class="plans">
		{% for plan in site.data.plans.types %}
			{% include components/pricing/plan.html plan=plan %}
		{% endfor %}
	</ul>
	<p class="price addition-plan">Additional team members on paid plans are $20.83 per month. $25 per month if billed monthly</p>
</section>