.quote-box {
	margin-bottom: 50px;
}

.quote-box:after {
	content: '';
	clear: both;
	display: block;
}

.quote-box img {
	border-radius: 9999px;
	width: 70px;
	float: left;
	margin: 15px;
}

.quote-box p {
	margin: 0;
}

.quote-box .social-icon {
	background-size: 20px;
	height: 20px;
	background-position: bottom left;
	margin-left: 5px;
}

.quote-box p.quote-author {
	margin-top: 15px;
}

.quote-text {
	clear: both;
}
