section.short {
	padding-top: 0px;
}

.material-icons {
	font-weight: bold;
	color: #5E5D5D;
}

.material-icons.tick {
	color: #86d62e;
}

.pricing-page {
	padding-top: 45px;

	h2 {
		margin-bottom: 75px;
		font-size: 2.4rem;
		text-align: center;
	}

	.plans {
		.card {
			box-shadow: 0px 0px 4px #e1e1e1;
			border-radius: 8px;
		}
	}

	.cards {
		li.card.faq {
			position: relative;
			margin: 0px;
			margin-left: 25px;
			margin-right: 25px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: 1px solid #eee;
			break-inside: avoid;
			height: auto;
			transition: all ease-in-out 12.9s;

			input[type='checkbox'] {
				display: none;
			}

			.label-toggle {
				display: block;
				cursor: pointer;
				min-height: 70px;

				h3 {
					margin: 0;
					padding-top: 30px;
					padding-bottom: 30px;
					font-size: 1rem;
					max-width: 84%;

				}
			}

			.label-toggle::before, .label-toggle::after {
				content: '';
				position: absolute;
				top: 30px;
				right: 47px;
				height: 20px;
				border-right: 4px solid #407afc;
				transition: all ease-in-out 0.125s;
			}

			.label-toggle::after {
				content: '';
				height: 0px;
				width: 20px;
				border-bottom: 4px solid #407afc;
				right: 39px;
				top: 38px;
				border-right: 0px transparent;
				background-color: #407afc;
				opacity: 1;

			}

			.faq-content {
				height: 0px;
				overflow: hidden;
			}



			.toggle:checked + .label-toggle + .faq-content {
			  height: 100%;
			  opacity: 1;
			}

			.toggle:checked + .label-toggle::before {
				transform: rotate(90deg);
				transition: all ease-in-out 0.125s;
			}

			.toggle:checked + .label-toggle::after {
				margin-top: 0px;
				transform: rotate(180deg);
				opacity: 0;
			}

			.toggle:checked + .label-toggle {
			  border-bottom-right-radius: 0;
			  border-bottom-left-radius: 0;
			}
		}
	}

	table {
		table-layout: fixed;

		td, th {
			text-align: center;
		}

		td.left-align {
			text-align: left;
		}

		a.button {
			font-size: 0.6rem;
			padding: 18px 8px;
			width: 100%;
			max-width: 90%;
		}
	}

	.faq-section {
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 125px;
		min-height: 850px;

		.flex-container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-flow: row nowrap;
			@media (max-width: 750px) {
				flex-flow: row wrap;
			}

			ul {
				flex: 1 50%;
				@media (max-width: 750px) {
					flex: 1 100%;
				}

				li {
					margin-top: -1px;

					h3 {
						color: #4A85FC;
					}
				}

				li + li {
					border-bottom: 0px;
				}
			}
		}

	}
}








.enterprise-page {
	.enterprise-features {
		display: flex;
		flex-flow: column wrap;

		.enterprise-feature {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin: 75px 0px;

			img, .feature-content {
				flex: 1 50%;
			}
		}

		.enterprise-feature.reverse {
			flex-flow: row-reverse nowrap;
		}

		.enterprise-feature.no-top-margin {
			margin-top: 0px;
		}
	}

	.form-section {
		display: flex;
		@media (max-width: 780px) {
			flex-flow: column wrap;
		}

		.form-case-study-wrapper {
			margin: 25px;
			flex: 1 450px;
			max-width: 520px;

			.form-case-study {
				padding: 50px;
				border: 2px solid #E8E9EA;
				background-color: #F6F7FD;

				@media (max-width: 1000px) {
					padding: 25px;
				}

				.case-study-images {
					display: flex;
					flex-flow: row wrap;
					padding-top: 25px;

					@media (max-width: 450px) {
						justify-content: center;
						align-items: center;
					}

					.avatar {
						max-width: 100px;
						border-radius: 50%;
						margin-right: 25px;
						margin-bottom: 15px;

						@media (max-width: 450px) {
							margin-right: 0px;
						}
					} 

					div {
						display: flex;
						flex-flow: column wrap;

						p {
							margin: 0px;
							font-size: 1rem;
							line-height: 1.4em;
						}

						.case-study-name {
							font-weight: bold;
						}

						img {
							margin-top: 15px;
							max-width: 100px;
						}

						@media (max-width: 450px) {
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}

		.demo-theme-form {
			margin: 10px;
			flex: 1 450px;

			h3 {
				margin: 15px;
			}

			form {
				display: flex;
				flex-flow: row wrap;

				span {
					flex: 1 200px;
					display: flex;
					flex-flow: column wrap;
					margin: 10px;
					margin-top: 5px;
				}

				span.stretch {
					flex: 1 100%;

				}

				input, textarea {
					border: 1px solid #E8E9EA;
					background-color: #F6F7FD;
				}

				label {
					margin-bottom: 0px;
				}

				text-area {
					width: 100%;
				}

				.g-recaptcha {
					margin: 0px;
				}

				.button {
					margin: 10px;
					margin-top: 3px;
					background: #4A85FD;
					border: 0px solid transparent;
				}

				.button:hover {
					background: #3E4B6C;
				}
			}
		}
	}
}
