section.short, wrapper.short {
	padding-top: 0px;
	padding-bottom: 0px; 
}

.material-icons {
	font-weight: bold;
	color: #5E5D5D;
}

.material-icons.tick {
	color: #86d62e;
}

.pricing-page {

	h2 {
		margin: 75px 0px;
		font-size: 2.4rem;
		text-align: center;
	}

	.plans {
		.card {
			box-shadow: 0px 0px 4px #e1e1e1;
			border-radius: 8px;
		}
	}

	.cards {

		li.card.faq {
			position: relative;
			margin: 0px 25px 0px 25px;
			padding-top: 0px;
			padding-bottom: 0px;
			border: 1px solid #eee;
			break-inside: avoid;
			height: auto;

			@media (max-width: 500px) {
				margin: 0px;
			}

			input[type='checkbox'] {
				display: none;
			}

			.label-toggle {
				display: block;
				cursor: pointer;
				min-height: 70px;

				h3 {
					margin: 0;
					padding-top: 30px;
					padding-bottom: 30px;
					font-size: 1rem;
					max-width: 84%;

				}
			}

			.label-toggle::before, .label-toggle::after {
				content: '';
				position: absolute;
				top: 30px;
				right: 28px;
				height: 20px;
				border-right: 4px solid #407afc;
				transition: all ease-in-out 0.125s;
			}

			.label-toggle::after {
				content: '';
				height: 0px;
				width: 20px;
				border-bottom: 4px solid #407afc;
				right: 20px;
				top: 38px;
				border-right: 0px transparent;
				background-color: #407afc;
				opacity: 1;

			}

			.faq-content {
				height: 0px;
				overflow: hidden;
			}



			.toggle:checked + .label-toggle + .faq-content {
			  height: 100%;
			  opacity: 1;
			}

			.toggle:checked + .label-toggle::before {
				transform: rotate(90deg);
				transition: all ease-in-out 0.125s;
			}

			.toggle:checked + .label-toggle::after {
				margin-top: 0px;
				transform: rotate(180deg);
				opacity: 0;
			}

			.toggle:checked + .label-toggle {
			  border-bottom-right-radius: 0;
			  border-bottom-left-radius: 0;
			}
		}

		li.card.faq:nth-child(even) {

			border-top: 0px solid transparent;
			border-bottom: 0px solid transparent;
		}

		li.card.faq:last-child {

			border-bottom: 1px solid #eee;
		}

	}

	.cards:last-child {
		@media (max-width: 750px) {
			margin-top: -1px;
		}
	}

	.table-section {
		overflow: hidden;
		padding-bottom: 0px;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;

		table {
			margin-bottom: 0px;
			table-layout: fixed;
			border: 0px;
			padding-bottom: 25px;

			th {
				font-size: 1.4rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			tr, tr:nth-child(2n) {
				background: transparent;
				display: flex;
			}

			tr {
				border-bottom: 1px solid #DDDDDD;
			}

			th {
				border: 0px;
			}

			td, th {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 70px;
				text-align: center;
			}

			td.left-align {
				text-align: left;
			}

			.item-title {
				justify-content: flex-start;
				max-width: 260px;
				padding-left: 25px;
				text-align: left;
			}

			a.button {
				font-size: 0.6rem;
				padding: 18px 8px;
				width: 100%;
				max-width: 90%;
			}

			.table-icons {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;

				.material-icons.tick, .material-icons {
					background: #bdbdbd;
					border-radius: 50%;
					padding: 2px;
					color: #ffffff;
					font-size: 16px;
					box-shadow: inset 0px 0px 3px #828282;
				}

				.material-icons.tick {
					background-color: #91DB34;
					box-shadow: inset 0px 0px 3px #527B1E;
				}

				.info-svg {
					width: 22px;
					height: 22px;
					fill: #bdbdbd;
					border-radius: 50%;
					background: url('/images/pricing/info.svg');
					background-size: 22px 22px;
					box-shadow: inset 0px 0px 3px #234288;
				}
			}

			.table-icons.svg {
				margin-left: 15px;
			}

			.tool-tip {
				display: none;
				position: absolute;
				left: 0;
				margin-top: 50%;
				margin-bottom: 50%;
				margin-left: 50px;
				padding: 15px;
				width: 100%;
				max-width: 450px;
				height: auto;
				box-sizing: border-box;
				border-radius: 8px;
				box-shadow: 0px 2px 8px #bfbfbf;
				background: #eee;
				transition: all ease-in-out 0.8s;

				p {
					margin: 0px;
					font-size: 0.8rem;
				}
			}

			.table-icons.svg:hover > .tool-tip {
				display: flex;
				transition: all ease-in-out 0.8s;
			}
		}
	}

	.faq-section {
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 125px;
		overflow: hidden;

		.flex-container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-flow: row nowrap;
			@media (max-width: 750px) {
				flex-flow: row wrap;
			}

			ul {
				flex: 1 50%;
				@media (max-width: 750px) {
					flex: 1 100%;
				}

				li {
					margin-top: -1px;

					h3 {
						color: #4A85FC;
					}
				}

				li + li {
					border-bottom: 0px;
				}
			}
		}
	}
}








.enterprise-page {
	.enterprise-features {
		display: flex;
		flex-flow: column wrap;

		.enterprise-feature {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		    justify-content: space-between;
			margin: 75px 0px;

			.image-container {
				max-width: 450px;
			}

			img, .feature-content {
				flex: 1 50%;

				@media (max-width: 780px) {
					flex: 1 auto;
				}
			}

			@media (max-width: 780px) {
				h3 {
					text-align: center;
				}

				img {
					margin-bottom: 25px;
				}
			}
		}

		.enterprise-feature.reverse {
			flex-flow: row-reverse nowrap;
		}

		@media (max-width: 780px) {
			.enterprise-feature, .enterprise-feature.reverse {
				flex-flow: column wrap;
				margin: 0 auto;
			}

			.enterprise-feature.reverse {
				margin: 50px 0px;
			}
		}

		.enterprise-feature.no-top-margin {
			margin-top: 0px;
		}
	}

	.form-section {
		display: flex;
	    align-items: flex-start;
	    justify-content: center;

		@media (max-width: 1000px) {
			flex-flow: column wrap;
		}

		.form-case-study-wrapper {
			margin: 25px;
			max-width: 520px;

			@media (max-width: 1000px) {
				max-width: none;
			}

			.form-case-study {
				padding: 50px;
				border: 2px solid #E8E9EA;
				background-color: #F6F7FD;

				@media (max-width: 1000px) {
					padding: 25px;
				}

				.case-study-images {
					display: flex;
					flex-flow: row wrap;

					.avatar {
						max-height: 100px;
						border-radius: 50%;
						margin-right: 25px;
						margin-bottom: 15px;

						@media (max-width: 500px) {
							margin-right: 0px;
						}
					} 

					@media (max-width: 500px) {
						flex-flow: column wrap;
						justify-content: center;
						align-items: center;
						text-align: center;
					}

					div {
						display: flex;
						flex-flow: column wrap;

						p {
							margin: 0px;
							font-size: 1rem;
							line-height: 1.4em;
						}

						.case-study-name {
							font-weight: bold;
						}

						img {
							margin-top: 15px;
							max-width: 100px;
						}

						@media (max-width: 500px) {
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}

		.demo-theme-form {
			margin: 10px;
			flex: 1 450px;

			h3 {
				margin: 10px 0px;
			}

			form {
				display: flex;
				flex-flow: row wrap;
				margin: -8px;

				span {
					flex: 1 200px;
					display: flex;
					flex-flow: column wrap;
					margin: 10px;
					margin-top: 5px;

					@media (max-width: 1000px) {
						flex: 1 300px;
					}
				}

				span.stretch, span.stretch.recaptcha {
					flex: 1 100%;
				}

				input, textarea {
					border: 1px solid #E8E9EA;
					background-color: #F6F7FD;
				}

				label {
					margin-bottom: 0px;
				}

				text-area {
					width: 100%;
					min-height: 200px;
				}

				.g-recaptcha {
					margin: 0px;
				}

				.button {
					margin: 3px 10px 50px 10px;
					background: #4A85FD;
					border: 0px solid transparent;
				}

				.button:hover {
					background: #3E4B6C;
				}
			}
		}

		.demo-theme-form.full-width {
			max-width: 1000px;
			margin: 0 auto;

			span {
				flex: 1 45%;
				display: flex;
				flex-flow: column wrap;
				margin: 10px;
				margin-top: 5px;

				@media (max-width: 1000px) {
					flex: 1 300px;
				}
			}
		}
	}
}
