$neptune: #373D61;
$hydrogen: #E4FFFF;
$mercury: #707070;
$cloud: #F2F2F2;
$cc_blue: #468DFB;
$carbon: #4A4B4E;
$titanium: #C3C3C3;
$white: #FFFFFF;

$button-blue: #428DFB;

$grey_element_background: #D8D8D8;


a {
	color: $cc_blue;
}