---
layout: default
title: Press
header: Press
company_stats:
  founded: August 2013
  team_size: 3
  located: 185 Clara Street, San Francisco, CA
  funding: $500k Seed
  investors: Adam Clark, Clearpoint Investment Two Limited, Evander Management Limited, Graeme Ransley, Jasmine Investment Holdings No.2 Limited, Jester 002 Investment Trust, K One W One (No 3) Limited, Laura Reitel, McSyth Capital Investment Trust, OT2 Trust, Robert Trevor Dickinson, Sergio Van Dam, SiMART Limited, TAINZ Ventures Limited, Think Tank Brains Trust
media_contacts:
  - name: Mike Neumegen
    position: CEO &amp; Co-Founder
    email: mike@cloudcannon.com
---
<section>
	<div class="container text-container">
		<h2>Company Info</h2>
		{% for stat in page.company_stats %}
			<h3>{{ stat[0] | replace:'_',' ' | capitalize }}</h3>
			<p>{{ stat[1] }}</p>
		{% endfor %}

		<h3> Media Contacts </h3>
		<p>
			{% for contact in page.media_contacts %}
				{{ contact.name }}, {{ contact.position }} <a href="mailto:{{ contact.email }}">Email</a>
				{% unless forloop.last %}<br>{% endunless %}
			{% endfor %}
		</p>
	</div>
</section>
<section class="alternate">
	<div class="container text-container">
		<div class="milestones">
			<h2>Milestones</h2>
			{% assign milestones = site.milestones | sort: 'date' | reverse %}
			{% for milestone in milestones %}
				<div class="milestone">
					<img src="{{ milestone.logo_path }}" alt="{{ milestone.name }}">
					<h4><a href="{{ milestone.link }}">{{ milestone.description }}</a></h4>
					<p>{{ milestone.date | date: '%B %Y' }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<section id="featured-articles">
		<div class="container text-container articles">
			<h2>Featured Articles</h2>

			{% assign articles = site.press | sort: 'date' | reverse %}
			{% for article in articles %}
			<div class="article">
				<div class="logo"><img src="{{ article.logo_path }}" alt="{{ article.name }}"></div>
				<h4><a target="_blank" href="{{ article.link }}">{{article.title}}</a></h4>
				<p>{{ article.date | date_to_string }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

</section>
