---
layout: default
icons: true
header_class: short
---

<header class="{{ page.header_class }} case-study" {% if page.brand_color %}style="background: {{ page.brand_color }}"{% endif %}>
	{% include navigation/top.html %}

	<section>
		<div class="wrapper">
			<h1>{% include svgs/customer-logo.html logo=page.logo %}</h1>
			<h2 class="subtitle">{{ page.tagline }}</h2>
			{% if page.featured %}
				<div class="landing-image">
					<a href="{{ page.featured.url }}" target="_blank">
						<img src="{{ page.featured.image }}" alt="{{ page.name}}">
					</a>
				</div>
			{% endif %}
		</div>
	</section>
</header>

<div class="landing-page-content">
	<div class="wrapper">
		{{ content }}
	</div>
</div>

{% include components/case-study/quote.html case=page %}


{% include components/cta/main.html text="Join thousands of developers building sites on CloudCannon today" button="Get started free" %}