---
layout: landing-page-main
landing_page: true
---

{% assign non_developer_team = page.non_developer_team %}
{% unless non_developer_team %}{% assign non_developer_team = "team and clients" %}{% endunless %}

{% assign non_developer = page.non_developer %}
{% unless non_developer %}{% assign non_developer = "Non-developer" %}{% endunless %}

{% assign non_developers = page.non_developers %}
{% unless non_developers %}{% assign non_developers = "Non-developers" %}{% endunless %}

{% assign developers = page.developers %}
{% unless developers %}{% assign developers = "Developers" %}{% endunless %}

{{ content }}
