---
layout: default
landing_page: true
---
<header class="fancy-hero">
 		<div class="container">
 			<h2>{{ page.title }}</h2>
			<p class="sub-text landing-page">{{ page.description }}</p>

		<div style="display: inline-block; position: relative;top: -30px;">
					<a href="https://app.cloudcannon.com/users/sign_up" class="btn btn-block btn-centered btn-large btn-primary sign-up" style="display: inherit;">Get Started Free</a>
				<span class="btn-sub-text" style="color:#fff">30 day free trial, no credit card required and free support</span>
			</div>
		</div>

		<img class="main screenshot" src="/img/home/hydra.jpg" srcset="/img/home/hydra.jpg 800w, /img/home/hydra.jpg 1600w" alt="Editable Hydra">
</header>
