---
layout: default
---

<section>
	<div class="container template-container">
		<div class="halves">
			<img src="/img/{{ page.template_name }}-screenshot.png" alt="a screen shot of {{ page.template_name }} HTML template">
		</div>

		<div class="halves">
			<h3>Free template for you</h3>
			<p>This template is free for you to use on your own projects. It's our way of giving back to a community which has given us so much. If you want to show your support, spread the love by sharing these resources with your friends.</p>

			<div class="share-options well">
				{% assign url = page.url | prepend: site.url | cgi_escape %}
				<a class="share-btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank">{% include social-icon.html icon="Facebook" %} Share</a>
				<a class="share-btn twitter" href="https://twitter.com/intent/tweet?url={{ url }}&amp;text={{ page.share_text | cgi_escape }}&amp;via=CloudCannon" target="_blank">{% include social-icon.html icon="Twitter" %} Tweet</a>
				<a class="share-btn google-plus" href="https://plus.google.com/share?url={{ url }}" target="_blank">{% include social-icon.html icon="Google Plus" %} Share</a>
			</div>

			<h3>Licence</h3>
			<p>These resources are released under MIT licence. Here is a <a href="http://www.tldrlegal.com/l/MIT">simplified explanation of the license</a>.</p>

			<a class="btn secondary" href="http://{{ page.template_name }}.cloudvent.net" target="_blank">Live demo</a>
			<a class="btn download-{{ page.template_name }}" href="/templates/{{ page.template_name }}.zip" target="_blank">Download template</a>
		</div>
	</div>
</section>

<section style="background: #f5f5f5;">
	<div class="container">
		<h3>More Freebies</h3>

		<ul class="templates-list templates-list-grid">
			<li class="nimbus">
				<div class="banner"></div>

				<div class="details">
					<h3><a href="/freebies/nimbus">Nimbus</a></h3>

					<div class="buttons">
						<a class="btn" href="/freebies/nimbus">More details</a>
					</div>
				</div>
			</li>

			<li class="cirrus">
				<div class="banner"></div>

				<div class="details">
					<h3><a href="/freebies/cirrus">Cirrus</a></h3>

					<div class="buttons">
						<a class="btn" href="/freebies/cirrus">More details</a>
					</div>
				</div>
			</li>

			<li class="billows">
				<div class="banner"></div>

				<div class="details">
					<h3><a href="/freebies/billows">Billows</a></h3>

					<div class="buttons">
						<a class="btn" href="/freebies/billows">More details</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<script type="text/javascript">
  (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/platform.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
