---
layout: default
title: A free HTML5 template
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1404150359836434";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section>
	<div class="container template-container">
		<div class="halves">
			<img src="/img/{{ page.templateName }}-screenshot.png" alt="a screen shot of {{ page.templateName }} HTML template">
		</div>

		<div class="halves">
			<h2>A free gift for you</h2>
			<p>This template is free for you to use on your own projects. It's our way of giving back to a community which has given us so much. If you want to show your support, spread the love by sharing these resources with your friends.</p>

			<ul class="social-shares clearfix">
				<li><div class="fb-share-button" data-href="http://cloudcannon.com/freebies/{{ page.templateName }}" data-width="120" data-type="button_count"></div></li>

				<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cloudcannon.com/freebies/{{ page.templateName }}" data-text="{{ page.templateName | capitalize }} - A free high quality responsive HTML5 website template" data-via="CloudCannoAapp">Tweet</a></li>

				<li><div class="g-plus" data-action="share" data-width="120" data-href="http://cloudcannon.com/freebies/{{ page.templateName }}"></div></li>
			</ul>

			<h3> Licence </h3>
			<p>These resources are released under MIT licence. Here is a <a href="http://www.tldrlegal.com/l/MIT">simplified explaination of the license</a>.</p>

			<a class="btn secondary" href="http://{{ page.templateName }}.cloudvent.net" target="_blank">Live Demo</a>
			<a class="btn download-{{ page.templateName }}" href="/templates/{{ page.templateName }}.zip" target="_blank">Download template</a>
		</div>
	</div>
</section>

<section class="alternate">
	<div class="container">
		<h2>More Freebies</h3>
		<ul class="templates-list templates-list-grid">
			<li class="nimbus">
				<div class="banner"></div>

				<div class="details">
					<h3><a href="/freebies/nimbus">Nimbus</a></h3>

					<div class="buttons">
						<a class="btn" href="/freebies/nimbus">More Details</a>
					</div>
				</div>
			</li>

			<li class="cirrus">
				<div class="banner"></div>

				<div class="details">
					<h3><a href="/freebies/cirrus">Cirrus</a></h3>

					<div class="buttons">
						<a class="btn" href="/freebies/cirrus">More Details</a>
					</div>
				</div>
			</li>

			<li class="billows">
				<div class="banner"></div>

				<div class="details">
					<h3><a href="/freebies/billows">Billows</a></h3>

					<div class="buttons">
						<a class="btn" href="/freebies/billows">More Details</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<script type="text/javascript">
  (function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/platform.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
