.c-page-header {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -25px;

	&--flipped {
		flex-flow: row-reverse wrap;
	}

	&__image {
		padding: 0 35px 0 0;
		flex: 1 425px;
		box-sizing: border-box;
		@include vwscale((attribute: width, value-at-max: 680px, stop-at: 0px, max-at: 1520px));
		@include vwscale((attribute: height, value-at-max: 590px, stop-at: 0px, max-at: 1520px));
		background-size: cover;
		background-position: center center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0 0 35px;
		flex: 1 425px;
		box-sizing: border-box;

		&__heading {
			color: $neptune;
			@include vwscale((attribute: font-size, value-at-max: 55px, stop-at: 575px, max-at: 950px));
			@include vwscale((attribute: line-height, value-at-max: 69px, stop-at: 575px, max-at: 950px));
			
			@media (max-width: 850px) {
				margin-top: 25px;
			}

			&--branded {
				color: $cc_blue;
			}
		}

		&__text {
			color: $neptune;
			font-weight: 300;
			@include vwscale((attribute: font-size, value-at-max: 20px, stop-at: 755px, max-at: 950px));
			@include vwscale((attribute: line-height, value-at-max: 30px, stop-at: 755px, max-at: 950px));
		}

		.buttons-row {
			margin: 0 -18px;
		}

		&__note {
			font-weight: normal;
			font-size: 11px;
			line-height: 14px;
			color: $mercury;
		}
	}
}









	// Color Variables
$green_background: #2ecc71;
$switch_button: #f5f5f5;


// Mobile Toggle Switch
.c-toggle {
	display: flex;
	align-items: center;

	&__main {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 15px;
		width: 55px;

		&__toggle {
			opacity: 0; // hides checkbox
			position: absolute;

			& + label {
				position: relative;
				display: inline-block;
				user-select: none;
				transition: .4s ease;
				height: 30px;
				width: 50px;
				border: 1px solid #e4e4e4;
				border-radius: 60px;

				&:before {
					content: "";
					position: absolute;
					display: block;
					transition: .2s cubic-bezier(.24, 0, .5, 1);
					height: 30px;
					width: 51px;
					top: 0;
					left: 0;
					border-radius: 30px;
				}

				&:after {
					content: "";
					position: absolute;
					display: block;
					box-shadow: 0 0 0 1px 
								rgba(0, 0, 0, 0.1), 
								0 4px 0px 0 rgba(0, 0, 0, .04), 
								0 4px 9px rgba(0, 0, 0, .13), 
								0 3px 3px rgba(0, 0, 0, .05);
					transition: .35s cubic-bezier(.54, 1.60, .5, 1);
					background: $switch_button;
					height: 28px;
					width: 28px;
					top: 1px;
					left: 0px;
					border-radius: 60px;
				}
			}

			// When Active
			&:checked {
				& + label:before {
					background: $green_background; // Active Color
					transition: width .2s cubic-bezier(0, 0, 0, .1);
				}
				& + label:after {
					left: 54px - 30px;
				}
			}
		}
	}

	p {
		font-size: 20px;
		line-height: 25px;
		color: $neptune;
	}

	&__option-1 {
		margin: 0;
	}

	&__option-2 {
		margin: 0;
	}
}